
/* Next time I think we ahve to take out inline block from filler to get the div size down. Going to be fun, make sure to version control once you get into that!*/
/********** Base styles **********/

* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}
h1 {
  text-align: center;
}

/*we can probably just remove margin outline actually to create nice boxes
padding isnt going to do anything for us, just for content inside boxes
*/
div.col {
  background-color: white;
  margin-bottom: 10px;
  display: inline-block;
  height: 220px;
  position: relative;
}



p.filler {
  background-color: gray;
  border: 1px solid black;
  height: 200px;
  margin-right: 15px;
  margin-left: 15px;
  color: white;
  padding-top: 50px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  display: inline-block;
  position: relative;
  color: black;
}

p.label{
  /*float: right;
  clear;*/
  text-align: center;
  border: 1px solid black;
  margin-top: 0px;
  margin-bottom: 10px;
  width:130px;
  float:right;
  font-size: 24px;
  position: absolute;
  right: 15px;
  top: 16px;

}


p.color1{
  color: yellow;
  background-color: green;
}
p.color2{
  color:red;
  background-color: white;
}
p.color3{
  color: purple;
  background-color: yellow;
}





/*
div.relitiveset {
   position: relative;
}
*/

/* Simple Responsive Framework. */

.row {
  width: 100%;
  grid-row-gap: 10px;

}
@media (min-width: 992px){
  .h1font {
    margin-bottom: 35px;
    font-size: 5vw;
  }
}


@media (min-width: 768px) and (max-width: 991px){
  .h1font {
    font-size: 7vw;
    margin-bottom: 20px;
  }
}


@media (max-width:767px){
  .h1font {
    font-size: 9vw;
    margin-bottom: 10px;
  }
}
/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; 
    
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/********** Medium devices only **********/
@media (max-width:767px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;

  }
  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 74.99%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}
